@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-light;
    src: url(fonts/Poppins-ExtraLight.ttf);
}

@font-face {
    font-family: poppins-bold;
    src: url(fonts/Poppins-Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

:root{
    --red-color: hsl(0, 78%, 62%);
    --cyan-color: hsl(180, 62%, 55%);
    --orange-color: hsl(34, 97%, 64%);
    --blue-color: hsl(212, 86%, 64%);
    --text-color: hsl(234, 12%, 34%);
    --background-color: hsl(0, 0%, 98%);
    --color: hsl(212, 6%, 44%);
    --font-light: poppins-light;
    --font-bold: poppins-bold;
}

body{
    background-color: var(--background-color);

}

.container{
    padding: 2rem 2rem 2rem 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-box{
    width: 100vw;
}

.info{
    max-width: 38rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info .norm{
    
    font-family: var(--font-light);
    font-weight: 100;
    margin-bottom: -0.5rem;

}
.info .bold{
    font-weight: 100px;
    margin-bottom: 0.2rem;
}

.info p{
    text-align: center;
}

.card-grid{
    gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "supervisor team-builder calculator"
    "supervisor karma calculator";
}

.supervisor, .calculator{
    display: flex;
    align-items: center;
    width: 20rem;
}

.card{
    background-color: #ffffff;
    width: 20rem;
    border-radius: 0.5rem;
    padding: 2rem;
    display: flow-root;
    box-shadow: 0 15px 30px hsla(0, 0%, 0%, 0.2);
}

.card h2{
    margin-bottom: 0.2rem;
}

.card-grid .img{
    height: 4rem;
    width: 4rem;
    margin: 2rem 0 1.5rem 0;
    float: right;
}

@media (max-width: 1200px){
    .card-grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "supervisor team-builder"
        "karma calculator";
    }
}

@media (max-width: 765px){
    .card-grid{
        grid-template-columns: 1fr;
        grid-template-rows: 4fr;
        grid-template-areas: 
        "supervisor"
        "team-builder"
        "karma"
        "calculator";
    }
}
